@import "tailwindcss";

:root{
  --bg:#050816;
  --card:#0B1120;
  --primary:#7C3AED;
  --secondary:#A855F7;
}

html{
  scroll-behavior:smooth;
}

body{
  background:
  radial-gradient(circle at top right,
  rgba(124,58,237,.25),
  transparent 30%),
  #050816;

  color:white;
  font-family:Arial, Helvetica, sans-serif;
}

.glow{
  box-shadow:
  0 0 40px rgba(124,58,237,.35);
}

.card{
  background:#0B1120;
  border:1px solid rgba(255,255,255,.05);
  border-radius:24px;
}
